<!DOCTYPE html>
<html>
  <head>
    <title>Your Weekly Digest</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 13px;
      }
    </style>
  </head>
  <body>
    <p>Hey there, here is your weekly digest:</p>

    <% job_posts.each do |post| %>
      <p>
        <strong><a href="<%= post.href %>"><%= post.job_title %></a></strong><br>
        <%= post.company %> // <%= post.date.strftime("%d %b %Y") %>
      </p>
      <p><%= post.description %></p>
      <br>
    <% end %>
  </body>
</html>
